*{
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    background: white;
    font-family: 'Inter', sans-serif;
	height: 100%;
	width: 100%;
    line-height: calc(21 / 18 * 100%);
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    font-weight: 300;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
* {
    -webkit-tap-highlight-color: transparent;
  }
/*--------------------*/
body._lock{
    overflow: hidden;
}
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
._container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/*------------------HEADER-------------------------*/
header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header__body {
    display: flex;
    min-height: 156px;
    justify-content: end;
}
.header__block {
    flex: 0 1 56%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.svg_logo{
    object-fit: cover;
    width: 100%;
}
.banbr:hover{
    fill: #0093A1;
}
.header__button {
    font-family: 'Comfortaa', cursive;
    width: 193px;
    height: 42.46px;
    background: #262C27;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
}
.header__button:hover{
    color: #262C27;
    background: #B9C400;
}
.header__tel {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(22 / 20 * 100%);
    color: #262C27;
}

@media (max-width: 992px) {
    .header__body {
        display: flex;
        min-height: 96px;
        justify-content: start;
    }
    .header__block {
        flex: 1 1 100%;
    }
}
@media (max-width: 592px) {
    .header__button {
        width: 123px;
        height: 42.46px;
        background: #262C27;
        font-weight: 600;
        font-size: 18px;
        line-height: calc(22 / 18 * 100%);
        color: #FFFFFF;
    }
    .header__tel {
        font-weight: 600;
        font-size: 18px;
        line-height: calc(22 / 18 * 200%);
        color: #262C27;
    }
}
@media (max-width: 480px) {
    .header__button {
        width: 92px;
        height: 32.46px;
        background: #262C27;
        font-weight: 500;
        font-size: 16px;
        line-height: calc(17 / 16 * 100%);
        color: #FFFFFF;
    }
    .header__tel {
        font-weight: 500;
        font-size: 16px;
        line-height: calc(18 / 16 * 100%);
        color: #262C27;
    }
}
@media (max-width: 420px) {
    .header__block {
        justify-content: end;
        align-items: center;
        flex-wrap: wrap;
    }
    .header__logo,
    .header__form,
    .header__tel{
        flex: 0 1 50%;
    }
    .header__form,
    .header__tel{
        display: flex;
        justify-content: end;
    }
}
/*------------------MAIN-------------------------*/
main{
    flex: 1 1 auto;
}
.page {
    position: relative;
    padding: 470px 0 133px 0;
}
.main__body {
    position: relative;
    z-index: 55;
}
.main__block {
    display: flex;
}
.main__people {
    margin-top: 30px;
    align-items: flex-end;
    justify-content: end;
    display: flex;
    flex: 0 1 50%;
}
.main__gig {
    font-weight: 400;
    font-size: 130px;
    line-height: calc(145 / 130 * 100%);
    color: #0093A1;
    opacity: 0.3;
    font-family: 'Comfortaa', cursive;
}
.flex_1 {
    line-height: calc(80 / 130 * 100%);
}
.main__text_block {
    flex: 1 1 auto;
    text-align: center;
}
.main__text_block_1{
    margin-bottom: 120px;
}
.main__text_block_2{
    text-align: center;
}
.main__text_block_1 >*:not(:last-child){
    margin-bottom: 20px;
}
h3{
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 64px;
    line-height: calc(71 / 64 * 100%);
    color: #FFFFFF;
}
.main__text {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(27 / 18 * 100%);
    color: #FFFFFF;
}
.flex_2 {
    margin-bottom: 33px;
}
.main__text_color {
    margin: 0 auto;
    max-width: 392px;
    font-size: 32px;
    line-height: calc(39 / 32 * 100%);
    text-align: center;
    color: #0093A1;
}
.main__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
@media (max-width: 992px){
    h3{
        font-weight: 600;
        font-size: 44px;
        line-height: calc(51 / 44 * 100%);
    }
    .main__text_block_1 >*:not(:last-child){
        margin-bottom: 20px;
    }
    .main__background img{
        filter: brightness(80%);
        object-position: -750px 0px;
    }
    .page {
        padding: 500px 0 200px 0;
    }
}
@media (max-width: 707px){
    .main__background img{
        object-position: -500px 0px;
        filter: brightness(70%);
    }
    .main__background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .main__block {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .main__people {
        margin-top: 30px;
        align-items: flex-end;
        justify-content: end;
        display: flex;
        flex: 1 1 100%;
    }
    .page {
        padding: 270px 0 133px 0;
    }
    .main__people{
        justify-content: center;
        margin-top: 50px;
    }

}
@media (max-width: 520px){
    .main__text_block_1 >*:not(:last-child){
        margin-bottom: 20px;
    }
    .main__background img{
        object-position: -550px 0px;
        filter: brightness(70%);
    }
}
@media (max-width: 404px){

    .main__background img{
        object-position: -600px 0px;
        filter: brightness(70%);
    }
}
.main__background{
    overflow: hidden;
}
@media (max-width: 375px){
    .page {
        padding: 170px 0 133px 0;
    }
    .main__background img{
        object-position: -500px 0px;
        filter: brightness(70%);
    }
    .main__text_block{
        text-align: start;
    }
    h3{
        font-weight: 600;
        font-size: 24px;
        line-height: calc(31 / 24 * 100%);
    }
    .main__text {
        font-weight: 500;
        font-size: 18px;
        line-height: calc(27 / 18 * 100%);
        margin-bottom: 10px;
    }
    .main__text_block_1 >*:not(:last-child){
        margin-bottom: 10px;
    }
    .main__gig {
        font-weight: 400;
        font-size: 80px;
        line-height: calc(100 / 80 * 100%);
    }
    .main__text_color {
        max-width: 100%;
        font-size: 25px;
        line-height: calc(39 / 25 * 100%);
    }
    .main__people {
        margin-top: 10px;
    }
    .flex_2{
        margin-bottom: 10px;
    }
}
/*--------------------TREES-----------------*/
.trees{
    width: 100%;
    min-height: 180px;
    background: #262C27;
    position: relative;
}
.trees_img_1,
.trees_img_2{
    object-fit: cover;
}
/* .trees_img_1{
    bottom: -50px;
}
.trees_img_1 img{
    object-fit: cover;
    position: relative;
    z-index: 7;
}
.trees_img_2{
    top: -50px;
} */
.trees::before{
    content: '';
    position: absolute;
    background-image: url(/img8/1.svg);
    bottom: -50px;
    left: 0;
    background-size: cover;
    width: 100%;
    height: 456px;
    background-repeat: no-repeat;
}
.trees::after{
    content: '';
    position: absolute;
    background-image: url(/img8/2.svg);
    top: -50px;
    left: 0;
    background-size: cover;
    width: 100%;
    height: 456px;
    background-repeat: no-repeat;
    z-index: 11;
}
@media (max-width: 992px) {
    .trees{
        /* top: -170px; */
        min-height: 135px;
    }
    .trees::before{
        content: '';
        position: absolute;
        background-image: url(/img8/1.svg);
        bottom: -30px;
        left: 0;
        background-size: cover;
        width: 100%;
        height: 342px;
        background-repeat: no-repeat;
    }
    .trees::after{
        content: '';
        position: absolute;
        background-image: url(/img8/2.svg);
        top: -30px;
        left: 0;
        background-size: cover;
        width: 100%;
        height: 342px;
        background-repeat: no-repeat;
    }
}
@media (max-width: 707px) {
    .trees{
        min-height: 90px;
    }
    .trees::before{
        content: '';
        position: absolute;
        background-image: url(/img8/1.svg);
        bottom: -20px;
        left: 0;
        background-size: cover;
        width: 100%;
        height: 228px;
        background-repeat: no-repeat;
    }
    .trees::after{
        content: '';
        position: absolute;
        background-image: url(/img8/2.svg);
        top: -20px;
        left: 0;
        background-size: cover;
        width: 100%;
        height: 228px;
        background-repeat: no-repeat;
    }
}
/*---------------big_img----------------*/
.big_img{
    z-index: 10px;
    position: relative;
}

.big_img_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.big_img_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.big_img_contant{
    padding: 75px 15px 50px 15px;
    position: relative;
    z-index: 8;
}

.big__img_span {
    margin-top: 30px;
    display: block;
    background: white;
    height: 1px;
    width: 100%;
}
.big_img_header {
    display: flex;
}
.big_img_header >*{
    display: flex;
    align-items: flex-end;
}
.big_img_text_1 {
    flex: 0 1 31%;
}
.big_img_text_block{
    max-width: 290px;
}
.big_img_text_block >*:not(:last-child){
    margin-bottom: 80px;
}
.big_img_text {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    color: #FFFFFF;
}
.big_img_video {
    float: right;
}
.big_img_video_img {
    margin-bottom: 12px;
    text-align: center;
}

.big_img_video_text {
}
.big_img_text_2 {
    flex: 0 1 31%;
}
.big_img_text_img {
    flex: 1 1 auto;
}
.big_img_block {
}
.big_img_footer {
    margin-top: 600px;
    display: flex;
}
h1 {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 60px;
    line-height: calc(67 / 60 * 100%);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex: 0 1 31%;
}
.big_img_footer_table {
    padding: 30px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    flex: 0 1 47%;
}
.big_img_footer_table_block {
    display: flex;
}
.big_img_footer_table_block >*:not(:last-child){
    margin-right: 25px;
}
.table_ul >*:not(:last-child){
    margin-bottom: 15px;
}
.table_li {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    color: #FFFFFF;
}

@media (max-width: 992px) {
    .big_img_header{
        flex-wrap: wrap;
    }
    .big_img_text_2{
        flex: 0 1 50%;
    }
    .big_img_header .big_img_text_2{
        align-items: flex-start;
    }
    .big_img_text_2 .big_img_text_block{
        max-width: 90%;
    }
    .big_img_text_1{
        padding: 0 0 50px 0;
        flex: 0 1 100%;
    }
    .big_img_text_1 .big_img_text_block{
        max-width: 100%;
    }
    .big_img_text_img{
        justify-content: end;
    }
    .big_img_text {
        font-weight: 500;
        font-size: 22px;
        line-height: calc(28 / 22 * 100%);
        color: #FFFFFF;
    }
    .big_img_video{
        margin-top: 30px;
    }
    .big_img_footer{
        margin-top: 300px;
    }
    .big_img_contant{
        padding: 130px 15px 50px 15px;
        position: relative;
        z-index: 8;
    }
    .big_img_footer_table{
        flex: 1 1 auto;
    }
    .big_img_footer_table_block{
        justify-content: space-between;
    }
    .big_img_img img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-position: 0px;
    }
}
@media (max-width: 767px) {
    h1{
        font-size: 40px;
        line-height: calc(47 / 40 * 100%);
    }
    .big_img_footer{
        flex-direction: column;
    }
    .big_img_footer_table{
        margin-top: 20px;
    }
}
@media (max-width: 581px) {
    .big_img_text_2{
        z-index: 9;
        flex: 0 1 100%;
    }
    .big_img_text_1{
        z-index: 9;
    }
    .big_img_text_2 .big_img_text_block {
        max-width: 100%;
    }
    /* .big_img_text_block{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .big_img_video_text{
        text-align: center;
    } */
    .big_img_text_img{
        z-index: 8;
        position: absolute;
        top: center;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    .big_img_block{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    .big_img_block img{
        opacity: 0.6;
    }
    .big_img_footer{
        margin-top: 100px;
    }
    .big_img_img img{
        filter: brightness(70%);
    }
    .big_img_text {
        font-weight: 500;
        font-size: 18px;
        line-height: calc(22 /18 * 100%);
        color: #FFFFFF;
    }
    .table_li {
        font-weight: 500;
        font-size: 14px;
        line-height: calc(18 / 14 * 100%);
        color: #FFFFFF;
    }
    .big_img_footer_table {
        padding: 20px 0;
    }
}
@media (max-width: 460px) {
    #li6,
    #li7,
    #li8{
        height: 35px;
    }
}
@media (max-width: 460px) {
    #li0{
        height: 35px;
    }
}
@media (max-width: 270px) {
    #li6{
        height: 53px;
    }
}
/*------------------PRICE----------------*/
.price {
    padding: 150px 0 0 0;
}
.price__body {
}
.price__body_contant {
    margin: 20px 0;
    display: flex;
}

.price_text_block {
    flex: 0 1 50%;
    display: flex;
}

.price_text {
    flex: 0 1 48%;
    margin: auto 0;
}
.price_text_ul {
}
.price_text_ul >*:not(:last-child){
    margin-bottom: 25px;
}
.price_text_li {
}
h2{
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    color: #262C27;
}
.price_color{
    color: #0093A1;
}
.price_text_li_text {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    color: #262C27;
}
.price_button_block{
    padding-bottom: 25px;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.price_button img:hover {
    width: 250px;
    height: 250px;
}
.price_button:hover{
    margin-bottom: -25px;
}
.price__button {
    width: 40%;
    height: 80px;
    background: white;
    border: 1px solid #0093A1;
    font-size: 40px;
    line-height: calc(45 / 40 * 100%);
    color: #0093A1;
}
.header__button:hover{
    color: #262C27;
    background: #B9C400;
    border: 0px solid #0093A1;
}
.price__body_img {
    display: flex;
    align-items: center;
}
@media (max-width: 1080px) {
    .price__body_contant{
        flex-wrap: wrap;
    }
    .price__body_contant >*{
        flex: 1 1 auto;
    }
    .price__body_img img{
        width: 100%;
        object-fit: cover;
    }
    .price_text {
        flex: 0 1 60%;
    }
}
@media (max-width: 767px) {
    .price {
        padding: 75px 0 0 0;
    }
    .price_button img{
        width: 150px;
        height: 150px;
    }
    .price_button img:hover {
        width: 187px;
        height: 187px;
    }
    .price_button_block{
        padding-bottom: 18px;
    }
    .price_button:hover{
        margin-bottom: -18px;
    }
    .price__button {
        width: 100%;
        height: 60px;
        font-size: 30px;
        line-height: calc(50 / 30 * 100%);
    }
}
@media (max-width: 480px) {
    .price_button img{
        width: 100px;
        height: 100px;
    }
    .price_button img:hover {
        width: 125px;
        height: 125px;
    }
    .price_button_block{
        padding-bottom: 12.5px;
    }
    .price_button:hover{
        margin-bottom: -12.5px;
    }
    .price_text_li_text {
        font-weight: 400;
        font-size: 16px;
        line-height: calc(22 / 16 * 100%);
        color: #262C27;
    }
}
@media (max-width: 385px) {
    .price_text_block{
        flex-wrap: wrap;
    }
    .price_text{
        flex: 0 1 100%;
    }
    .price_button_block{
        padding-top: 12.5px;
        padding-bottom: 12.5px;
    }
    .price_button:hover{
        margin-top: -12.5px;
        margin-bottom: -12.5px;
    }
}
/*----------EMPTY-----------------*/
.empty img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*-------------------NEFOR-----------------*/
.nefor {
    margin-top: -716px;
}
.nefor__body {
}
.nefor__body_title {
    display: flex;
}
.nefor__body_title{
    min-height: 386px;
}
.nefor__body_title_1 {
    flex: 0 1 77%;
    display: flex;
    align-items: flex-end;
}
.nefor__body_title_1 h1{
    color: #262C27;
    max-width: 470px;
}
.nefor__body_title_2 {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
}

.big_img_video {
    margin-top: 0;
}
.big_img_video_img {
}
.big_img_text {
}
.big_img_video_text {
}
.nefor__body_contant {
    display: flex;
}
.nefor__body_contant_text {
    flex: 0 1 34%;
    padding: 82px 0 260px 0;
    min-width: 328px;
}
.nefor__body_contant_text_ol {
}
.nefor_text_ol {
}
.nefor_text_ol >*:not(:last-child){
    margin-bottom: 15px;
}
.nefor_text_li {
    margin-left: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24 / 20 * 100%);
    color: #262C27;
}
.nefor__body_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #262C27;    
    max-width: 350px;
    margin-top: 200px;
}
.nefor__body_contant_img {
    flex: 1 1 66%;
    height: 100%;
    border: 3px solid #262C27;
    border-radius: 200px 0px 300px;
    padding: 60px 16px 40px 16px;
}
.nefor__body_contant_img_block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.nefor_img {
    padding: 12px 15px;
}
.nefor_img img{
    width: 100%;
    object-fit: cover;
}
.img_1{
    flex: 1 1 100%;
}
.img_2{
    flex: 0 1 68%;
}
.img_3{
    flex: 0 1 32%;
    z-index: 12;
}
@media (max-width: 1530px){
    .nefor__body_title_1 {
        flex: 0 1 57%;
    }
    .nefor {
        margin-top: -700px;
    }
    .empty{
        height: 1300px;
    }
}
@media (max-width: 1144px){
    .nefor__body_title_1 {
        flex: 0 1 57%;
    }

    .nefor {
        margin-top: -600px;
    }
    .empty{
        height: 1000px;
    }
    .nefor__body_title{
        min-height: 286px;
    }
    .nefor__body_contant_text {
        flex-shrink: 328px;
    }
    .nefor__body_contant_img {
        flex: 0 1 auto;
    }
    .nefor__body_text{
        margin-top: 100px;
    }
    .nefor__body_contant_text {
        padding: 82px 0 160px 0;
    }
}
@media (max-width: 892px){
    .nefor__body_title_1 {
        flex: 0 1 57%;
    }
    .nefor__body_title{
        min-height: 186px;
    }
    .nefor_img {
        padding: 6px 7.5px;
    }
    .nefor__body_contant_img {
        border-radius: 100px 0px 150px;
        padding: 30px 8px 20px 8px;
        margin-top: 40px;
    }
    .nefor__body_contant{
        margin-top: 10px;
    }
    .nefor__body_contant{
        flex-direction: column;
    }
    .nefor__body_contant_text {
        justify-content: space-between;
        display: flex;
        flex: 0 1 34%;
        padding: 0px 0 0 0;
        /* min-width: 328px; */
        margin-top: 20px;
    }
    .nefor__body_text{
        margin-top: 0;
    }
    .nefor__body_contant_text_ol{
        margin-right: 10px;
    }
    .nefor {
        margin-top: -440px;
    }
    .empty{
        height: 800px;
    }
}
@media (max-width: 767px){
    .nefor__body_title_2{
        align-items: flex-end;
    }
    .nefor__body_contant_text{
        flex-wrap: wrap;
    }
    .nefor__body_contant_text_ol{
        margin-right: 0px;
        flex: 0 1 100%;
    }
    .nefor__body_text{
        flex: 1 1 auto;
        margin-top: 20px;
        max-width: 100%;
    }
    .nefor__body_title_2{
        justify-content: flex-end;
    }
    .nefor {
        margin-top: -540px;
    }
    .empty{
        height: 800px;
    }
    .nefor__body_title_1 h1{
        color: white;
    }

}
@media (max-width: 580px){
    .nefor__body_title{
        min-height: 86px;
    }
    .nefor {
        margin-top: -500px;
    }
    .empty{
        height: 800px;
    }
    .nefor_text_li{
        color: white;
        opacity: 0.9;
    }
    .nefor__body_text{
        opacity: 0.8;
    }
    .nefor__body_title_1 h1{
        color: white;
    }
}
@media (max-width: 480px){
    .nefor__body_title{
        flex: 0 1 auto;
        justify-content: space-between;
    }
    .nefor {
        margin-top: -450px;
    }
    .empty{
        height: 750px;
    }
    .nefor__body_title_1 h1{
        font-size: 30px;
        line-height: calc(37 / 30 * 100%);
    }
    .nefor_text_li {
        font-weight: 600;
        font-size: 18px;
        line-height: calc(20 / 18 * 100%);
    }
    .nefor__body_text {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
    }
}
@media (max-width: 385px){
    .nefor__body_title_1 h1{
        font-size: 20px;
        line-height: calc(27 / 20 * 100%);
    }
    .nefor {
        margin-top: -480px;
    }
    .empty{
        height: 800px;
    }
    .nefor__body_contant_text {
        min-width: 100%;
    }
}
/*---------------------FLEXBOX--------------------*/
.flexbox {
    padding: 150px 0;
}
.flexbox__body {
}
.flexbox__body_box {
    margin: -10px;
    display: flex;
    flex-wrap: wrap;
}
.flexbox__block {
    padding: 10px;
}
.flexbox__block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.block_1 {
    flex: 0 1 40%;
}
.block_2 {
    flex: 0 1 60%;
}
.block_3 {
    flex: 0 1 25%;
}
.block_4 {
    flex: 0 1 40%;
}
.block_5 {
    flex: 0 1 35%;
}
.block_6 {
    flex: 0 1 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.block_6_text{
    margin: 0 20px;
    position: absolute;
    font-weight: 800;
    font-size: 32px;
    line-height: calc(39 / 32 * 100%);
    text-align: center;
    color: #FFFFFF;
}
@media (max-width: 1080px){
    .block_6_text{
        font-weight: 700;
        font-size: 22px;
        line-height: calc(30 / 22 * 100%);
    }
    .flexbox {
        padding: 100px 0;
    }
}
@media (max-width: 992px){
    .flexbox {
        padding: 50px 0;
    }
}
@media (max-width: 650px){
    .block_6_text{
        margin: 0 10px;
        font-weight: 600;
        font-size: 20px;
        line-height: calc(24 / 20 * 100%);
    }
    .flexbox__body_box {
        margin: -5px;
        display: flex;
        flex-wrap: wrap;
    }
    .flexbox__block {
        padding: 5px;
    }
}
@media (max-width: 480px){
    .block_6_text{
        font-weight: 500;
        font-size: 18px;
        line-height: calc(20 / 18 * 100%);
    }
}
.block_7 {
    flex: 0 1 75%;
}
/*--------------------FOOTER---------------*/

footer{
    padding: 100px 0 83px 0;
    background: #262C27;
}
.footer__logo:hover{
    fill: #0093A1;
}
.footer__body {
}
.footer_user{
    display: flex;
}
.footer__body_user {
    flex: 0 1 41%;
}
.footer__body_user_email {
    margin: 27px 0 50px 0;
}
.footer__body_user_email >*:not(:last-child){
    margin-bottom: 10px;
}
.footer__body_user_email input{
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 / 18 * 200%);
    opacity: 0.4;
    width: 100%;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.header__form {
}
.footer_button {
    background: #ffffff;
    color: #000000;
}
.footer__body_user_img{
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    justify-content: end;
}
.footer__body_contant {
    margin-top: 100px;
}
.footer__body_contant h2{
    color: white;
}
.footer_color {
}
.footer_img_ul {
    display: flex;
    margin: 30px -10px 50px -10px;
    justify-content: space-between;
}
.footer_img_li {
    margin: 10px;
}
.footer_img_li img{
    width: 100%;
    object-fit: cover;
}
.footer_text_ul {
    display: flex;
    justify-content: space-between;
    margin: -10px;
    flex-wrap: wrap;
}

.footer_text_li {
    margin: 10px;
}
@media (max-width: 767px){
    .footer_img_ul{
        flex-wrap: wrap;
    }
    .footer_img_li{
        flex: 0 1 47%;
    }
    footer{
        padding: 50px 0 20px 0;
        background: #262C27;
    }
}
@media (max-width: 717px){
    .footer_user{
        flex-direction: column-reverse;
    }
    .footer__body_user_img{
        margin-bottom: 50px;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 677px){
    .footer_img_li{
        flex: 0 1 100%;
    }
}
@media (max-width: 592px){
    .font_footer{
        font-size: 14px;
        font-weight: 500;
        line-height: calc(20 / 14 * 100%);
    }

    .footer_img_ul{
        flex-wrap: wrap;
    }
}
/*--------index8_2---------------*/
.body__index8_2{
    font-family: Montserrat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background: white;
}
.contant__index8_2{
    text-align: center;
}
.your__page{
    line-height: 110%;
    color: #0093A1;
    font-size: 60px;
}
.your__page_2{
    line-height: 110%;
    margin-top: 10px;
    font-size: 25px;
    color: #737373;
}


.load{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 77;
	background: #262C27;
}
.load._un_active{
	display: none;
}